<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %>
  <br />
  <% @genre_list = [] %>
  <% @genres.each do |g| %>
  <% @genre_list << [g.name, g.id] %>
  <% end %>

  <%= select(:song, :genre_id, options_for_select(@genre_list)) %>

  <br />
  <input id="song_notes_1" name="song_notes_1" type="text" >
  <input id="song_notes_2" name="song_notes_2" type="text" >
  <input id="song_notes_3" name="song_notes_3" type="text" >
  <input id="song_notes_4" name="song_notes_4" type="text" >
  <%= f.submit %>
<% end %>


